.form {
    position: absolute;
    left: calc(50% - 200px);
    top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px 0;
    width: 400px;
    height: fit-content;
    border-radius: 10px;
}

.form_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    font-family: "Comic Sans MS";
    color: rgba(0, 0, 0, 0.75);
}

.form_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding: 8px;
    color: #2297dc;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: #2297dc solid 2px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    width: 100%;
    transition: background-color .2s;
}

.form_button:hover {
    background-color: #2297dc;
    color: #FFFFFF;
}

.form_items_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_item_label {
    font-size: 18px;
    padding: 7px;
    color: rgba(0, 0, 0, 0.8);
}

.form_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 15px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: #107dbd solid 1px;
    font-size: 17px;
    outline: none;
    width: 100%;
    transition: background-color .2s, border-bottom-color .2s, border-left-color .2s, border-right-color .2s, border-top-color .2s;
    margin-bottom: 15px;
}

.form_item:focus {
    border: #2297dc solid 1px;
}

.form_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

@keyframes showShadow {
    0% {
        box-shadow: 0 0 0 0 rgba(34, 151, 220, 0);
    }
    100% {
        box-shadow: 0 0 8px 0 rgba(34, 151, 220, 0.8);
    }
}

@keyframes closeShadow {
    0% {
        box-shadow: 0 0 8px 0 rgba(34, 151, 220, 0.8);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(34, 151, 220, 0);
    }
}

.shadow-show {
    animation: showShadow 0.2s ease;
    animation-fill-mode: forwards;
}
